In [2]:
import pandas as pd

In [20]:
df = pd.read_csv(r"C:\Users\ellah\OneDrive\Data Science Projects\asthma-weather-impact\asthma-ed-visit-rates_2019.csv")

In [21]:
df.head()

,LGHC Indicator Name,Geography,Year,Age Group,Strata,Strata Name,Numerator,Rate,LGHC Indicator ID,LGHC Target Rate
0,Asthma ED Visit Rates,Alameda,2015,18 and Over,Total Population,18 and Over,"6,513",53.1,7,28
1,Asthma ED Visit Rates,Amador,2015,18 and Over,Total Population,18 and Over,151,49.1,7,28
2,Asthma ED Visit Rates,Butte,2015,18 and Over,Total Population,18 and Over,736,43.8,7,28
3,Asthma ED Visit Rates,Calaveras,2015,18 and Over,Total Population,18 and Over,139,42.7,7,28
4,Asthma ED Visit Rates,California,2015,18 and Over,Total Population,18 and Over,"117,854",40.0,7,28

LGHC Indicator Name and LGHC Indicator ID are both the same information so I am dropping the ID column.

In [22]:
df = df.drop(columns=['LGHC Indicator ID', 'Strata'])

df = df[~df['Age Group'].isin([
    'Under 20',
    'Under 19'
])]

In [24]:
df.head()

,LGHC Indicator Name,Geography,Year,Age Group,Strata Name,Numerator,Rate,LGHC Target Rate
0,Asthma ED Visit Rates,Alameda,2015,18 and Over,18 and Over,"6,513",53.1,28
1,Asthma ED Visit Rates,Amador,2015,18 and Over,18 and Over,151,49.1,28
2,Asthma ED Visit Rates,Butte,2015,18 and Over,18 and Over,736,43.8,28
3,Asthma ED Visit Rates,Calaveras,2015,18 and Over,18 and Over,139,42.7,28
4,Asthma ED Visit Rates,California,2015,18 and Over,18 and Over,"117,854",40.0,28